.App {
  text-align: center;
}

.dragNdrop{
  height: 200px;
  width:90%;
  margin:30px auto;
}

.error{
  background-color:rgb(230, 46, 0);
  color:white;
}

.processorContainer{
  height:100%;
  width:90%;
  margin:0 auto;
  padding:10px;
  box-sizing:border-box;
}